.pageTitle{
  margin-top: 5%;
  text-align: center;
}

.pageTitle img{
  height:7%;
  margin-bottom:0.7%;
}

.login{
  margin: auto;
  margin-top: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  width:20%;
  text-align: center;
  border: 1px grey solid;
  box-shadow: 10px 10px 37px -21px rgba(0,0,0,1);
}

.loginPut {
  text-align: center;
  width:80%;
  padding: 10%;
}
